# Mac OS X
.DS_Store
._*

# Emacs (general)
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
.elc
*elc
auto-save-list
tramp

# Emacs (running or environment)
.smex-items
elpa
places
swank
url

# Starter Kit
*.tar
starter-kit-2.*
