[submodule "vendor/use-package"]
	path = vendor/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "vendor/eproject-mode"]
	path = vendor/eproject-mode
	url = https://github.com/jrockway/eproject.git
[submodule "vendor/rhtml-mode"]
	path = vendor/rhtml-mode
	url = https://github.com/eschulte/rhtml.git
[submodule "vendor/json-mode"]
	path = vendor/json-mode
	url = https://github.com/joshwnj/json-mode.git
